
      <div class="page-header" style="text-align:center">
        <h3>Búsqueda de pacientes</h3>
      </div>

      <form name="busqueda_form" class="form-horizontal" ng-submit="buscarPersona()" style="text-align:center" role="form">
        <div class="form-group">
            <div class="controls form-inline">
                <label class="col-sm-4 control-label">DNI</label>
                <div class="col-sm-2">
                  <input type="text" class="form-control" name="dni" ng-model="dni">
                </div>
                <label class="col-sm-1 control-label">Nombre</label>
                <div class="col-sm-2">
                  <input type="text" class="form-control" name="nombre" ng-model="nombre">
                </div>
           </div>
        </div>
        <div class="form-group">
            <div class="controls form-inline">
                <label class="col-sm-4 control-label">Fecha de nacimiento</label>
                <div class="col-sm-2">
                  <input type="date" name="fechaDeNacimiento" class="form-control" ng-model="fechaDeNacimiento">
                </div>
                <label class="col-sm-1 control-label">Apellido</label>
                <div class="col-sm-2">
                  <input type="text" class="form-control" name="apellido" ng-model="apellido">
                </div>
           </div>
        </div>
        <div class="form-group">
              <input type="submit" class="btn btn-default" value="Buscar"/>
        </div>
     </form>
     
     <div class="gridStyle" ng-grid="gridOptions"> </div>
     
     <br/>
     
     <div style="text-align:left">
         <a type="button" name="botonIngresoPaciente" class="btn btn-lg btn-success col-sm-offset-1" href="#ingreso_form">Ingresar nuevo paciente</a>
     </div>

