<title>Cambiar contrase&ntilde;a</title>

<body>
	<h3 style="text-align: center"><strong>Cambiar contrase&ntilde;a</strong></h3>

	<hr/>

	<form class="form-horizontal" role="form" ng-submit="submit()">

		<div class="form-group">
			<label class="col-sm-4 control-label">Contrase&ntilde;a anterior</label>
			<div class="col-sm-5">
				<input type="password" ng-model="pass.anterior" class="form-control"/>				
			</div>
			<span class="error" ng-show="pass.anterior == undefined || pass.anterior == ''" style="color:red;">*</span>
		</div>

		<div class="form-group">
			<label class="col-sm-4 control-label">Nueva contrase&ntilde;a </label>
			<div class="col-sm-5">
				<input type="password" ng-model="pass.nueva" class="form-control" ng-blur="chequearLargo()"/>				
			</div>
			<span class="error" ng-show="pass.nueva == undefined || pass.nueva == ''" style="color:red;">*</span>
		</div>

		<div class="col-sm-offset-4 col-sm-5" ng-show="passDemasiadoCorta">
			<span class="error" style="color:red;">Contrase&ntilde;a demasiado corta. Ingrese 6 caracteres m&iacute;nimo</span>	
		</div>

		<div class="form-group">
			<label class="col-sm-4 control-label">Repita la nueva contrase&ntilde;a</label>
			<div class="col-sm-5">
				<input id="repite" type="password" ng-model="pass.repite" class="form-control"/>			
			</div>
			<span class="error" ng-show="pass.repite == undefined || pass.repite == ''" style="color:red;">*</span>
		</div>

		<div class="col-sm-offset-4 col-sm-5" ng-show="pass.nueva!=null && pass.nueva!='' && pass.repite!=null && pass.repite!='' && pass.nueva!=pass.repite">
			<span class="error" style="color:red;">No coinciden las contrase&ntilde;as</span>				
		</div>

		<div class="form-group">
			<div class="col-sm-offset-4 col-sm-10">
				<p style="text-align: center">
					<input id="aceptar" type="submit" class="btn btn-success" value="Aceptar" ng-disabled="pass.repite==null || pass.repite =='' || pass.nueva==null || pass.nueva=='' || pass.anterior==null || pass.anterior=='' || pass.nueva != pass.repite || passDemasiadoCorta"/>
				</p>
			</div>
		</div>

	</form>

</body>