<title>Ingreso de s&iacute;ntomas</title>
<body>
  <h3 style="text-align: center"><strong>Ingreso de s&iacute;ntomas</strong></h3>

  <hr/>

  <div class="row">
   <div class="col-md-9">
      <form name="busqueda_form" class="form-horizontal" style="text-align:center" role="form">
        <div class="form-group">
            <div class="controls form-inline">
                <div class="col-md-3  col-md-offset-3">
                  <input type="text" class="form-control" id="sintoma" ng-model="$parent.sintoma" placeholder="S&iacute;ntoma"/>
                </div>
                <div class="col-md-3">
                  <input type="text" class="form-control" id="discriminante" ng-model="$parent.discriminante" placeholder="Discriminante"/>
                </div>
                <div class="col-md-2">
                    <input type="button" class="btn btn-primary btn-sm" value="Buscar" id="buscar" ng-click="filtrarListadoDeSintomas()"/>
                </div>
           </div>
        </div>

       </form>
       
       <div class="gridStyle" ng-grid="gridOptions" style="width: 100%; height:250px"> </div>
       
       <br/>
       
       <div style="text-align:right">
           <input type="button" id="botonAceptar" class="btn btn-success col-sm-offset-1" ng-click="enviarSintomas()" value="Aceptar"/>
       </div>
     
    </div>
    
    <div class="col-md-3" style="font-size:small;border-left:1px solid #E4E3E3;height:400px">
      <p>S&iacute;ntomas agregados</p>      
      <li class="animate-repeat" ng-repeat="sintoma in sintomas" ng-mouseover="borrar=true" ng-mouseleave="borrar=false" ng-init="borrar=false">
          {{sintoma.nombre}} <a id="borrar_{{$index}}" ng-click="borrarSintoma(sintoma)" ng-show="borrar" href="">borrar</a>
      </li>      
    </div>
   </div>
</body>
