<title>Finalizar</title>
<body>
	<div class="page-header" style="text-align: center">
		<h3>
			<b>Fin de la atenci&oacute;n</b>
		</h3>
	</div>


	<div class="container">
		<div class="panel panel-warning">
			<div class="panel-heading">
				<h1 class="panel-title" style="text-align: center"></h1>
			</div>

			<div class="panel-body" style="text-align: center">	
				<div class="row">	
					
					<div class="col-sm-10">
						<p ng-show="prioridad != null">PRIORIDAD: {{prioridad}}</p>
						<div datos-paciente></div>
					</div>

					<div class="col-sm-2">
						<div class="radio">
							<label> 
								<input type="radio" ng-model="opciones"	id="opciones_1" ng-value="ingresa" checked>Ingresa para atenci&oacute;n</input>
							</label>
						</div>
						<div class="radio">
							<label> 
								<input type="radio" ng-model="opciones"
								id="opciones_2" ng-value="consultorio">Consultorio externo</input>
							</label>
						</div>
						<div class="radio">
							<label> 
								<input type="radio" ng-model="opciones"	id="opciones_3" ng-value="retira">Se retira sin atenci&oacute;n</input>
							</label>
						</div>
						<div class="col-sm-1 col-sm-offset-5" data-toggle="tooltip" title="Para finalizar debe elegir una opción de finalización">
							<input type="button" name="botonFinalizar" class="btn btn-primary"
								value="Finalizar" id="botonFinalizar" ng-disabled="opciones == undefined"
								ng-click="finalizarAtencion()" />
						</div>
					</div>
				</div>
			</div>


		</div>
		
	</div>

</body>

