
<title>Impresi&oacute;n Visual</title>
<body>
  <div class="row">
  	  <div class="col-md-2" style="text-align:center">
	    <label>Paciente ingresado:</label>
	    <p id="nombreApellido">{{pacienteActual.nombre}} {{pacienteActual.apellido}}</p>
	    <p>{{pacienteActual.fechaDeNacimiento | date:'dd/MM/yyyy'}}</p>
	    <p>{{pacienteActual.DNI}}</p>
	  </div>
	  <div class="page-header col-md-8" style="text-align: center">
		<h3>Impresi&oacute;n Visual</h3>
	  </div>
  </div>
  


	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">Marque los s&iacute;ntomas que presenta el paciente</div>
			<div class="panel-body">
				<form name="impresion_visual_form"
					ng-submit="cargarImpresionInicial()" style="text-align: center"
					role="form">
					<label ng-repeat="sintoma in sintomas">
					 <input	type="checkbox"	 checklist-model="paciente.sintomas" checklist-value="sintoma" 
					 	ng-click="esPrioridadUno(sintoma)"/>
					  {{sintoma.nombre}}
					</label>
					<div class="form-group">
						<input name="continuar" type="submit" class="btn btn-default" value="Continuar" />
					</div>
				</form>
			</div>
		</div>
	</div>



<!-- 	<div class="container"> -->
<!-- 		<div class="panel panel-default"> -->
<!-- 			<div class="panel-heading">Marque los s&iacute;ntomas que presenta el paciente</div> -->
<!-- 			<div class="panel-body"> -->
<!-- 				<form name="impresion_visual_form" -->
<!-- 					ng-submit="cargarImpresionInicial()" style="text-align: center" -->
<!-- 					role="form"> -->
<!-- 					<div ng-repeat="sintoma in sintomas"> -->
<!-- 					 <input	type="checkbox"	value="sintoma" ng-model="paciente.sintomas"  -->
<!-- 					 	ng-click="esPrioridadUno()"/> -->
<!-- 					  {{sintoma.nombre}} -->
<!-- 					</div> -->
<!-- 					<div class="form-group"> -->
<!-- 						<input name="continuar" type="submit" class="btn btn-default" value="Continuar" /> -->
<!-- 					</div> -->
<!-- 				</form> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div> -->

</body>


