<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Triage adultos - Ingreso paciente - Paciente previo</title>

  </head>
  <body ng-controller="personaController">

      <div class="page-header" style="text-align: center">
        <h1>Ingreso paciente</h1>
      </div>

<form name="ingreso_form" ng-submit="addPersona()" class="form-horizontal" role="form" action="#lista_pacientes">

  <div class="form-group"  >
    <label class="col-sm-4 control-label">DNI</label>
    <div class="col-sm-5">
      <input type="text" name="dni" class="form-control" ng-model="dni" >
    </div>
  </div>
  
  
  <div class="form-group" ng-class="{'has-error': ingreso_form.nombre.$invalid}">
    <label class="col-sm-4 control-label">Nombre</label>
    <div class="col-sm-5">
      <input type="text" name="nombre" required class="form-control" ng-model="nombre" required>
    </div>
    <span class="help-block" 
         ng-show="ingreso_form.nombre.$invalid">Campo obligatorio</span>
  </div>
  
  
  <div class="form-group" ng-class="{'has-error': ingreso_form.apellido.$invalid}">
    <label class="col-sm-4 control-label">Apellido</label>
    <div class="col-sm-5">
      <input type="text" name="apellido" class="form-control" ng-model="apellido" required>
    </div>
    <span class="help-block" 
         ng-show="ingreso_form.apellido.$invalid">Campo obligatorio</span>
  </div>
  
  
  <div class="form-group" ng-class="{'has-error': ingreso_form.fechaNac.$error}">
    <label class="col-sm-4 control-label">Fecha de nacimiento</label>
    <div class="col-sm-5">
      <input type="date" name="fechaNac" class="form-control" ng-model="fechaDeNacimiento"  required>
    </div>
    <span class="help-block" 
         ng-show="ingreso_form.fechaNac.$error.required">Campo obligatorio</span>   
  </div>
  
  
  <div class="form-group">
    <label class="col-sm-4 control-label">Dirección</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" ng-model="direccion">
    </div>
  </div>
  
  <div class="form-group">
    <label class="col-sm-4 control-label">Teléfono</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" ng-model="telefono">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Obra social</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" ng-model="obraSocial">
    </div>
  </div>
  
  <div class="form-group">
    <label class="col-sm-4 control-label">Nro afiliado</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" ng-model="nroAfiliado">
    </div>
  </div>

    <div class="form-group">
    <div class="col-sm-offset-4 col-sm-10">

    <p style="text-align: center">
    <input type="submit" class="btn btn-default" value="Aceptar"  />
      </p>
    </div>
  </div>
</form>



  </body>
</html>

