<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Triage adultos - Ingreso paciente - Paciente previo</title>

    <!-- Bootstrap -->
<!--      <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="personaController">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--     <script src="https://code.jquery.com/jquery.js"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
<!--     <script src="bootstrap/js/bootstrap.min.js"></script> -->
    
      <div class="page-header" style="text-align: center">
        <h1>Ingreso paciente</h1>
      </div>

<form ng-submit="addPersona()" class="form-horizontal" role="form"  action="#lista_pacientes">
  <div class="form-group">
    <label class="col-sm-4 control-label">DNI</label>
    <div class="col-sm-5">
      <input type="number" class="form-control" ng-model="dni">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Nombre</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" ng-model="nombre">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Apellido</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" ng-model="apellido">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Fecha de nacimiento</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" ng-model="fechaDeNacimiento">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Dirección</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" ng-model="direccion">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Teléfono</label>
    <div class="col-sm-5">
      <input type="number" class="form-control" ng-model="telefono">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Obra social</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" ng-model="obraSocial">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Nro afiliado</label>
    <div class="col-sm-5">
      <input type="number" class="form-control" ng-model="nroAfiliado">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-10">
<!--       <button type="submit" class="btn btn-default" href="#lista_pacientes">Aceptar</button> -->
      <input type="submit" class="btn btn-default" value="Aceptar" />
    </div>
    
  </div>
</form>


<!-- <script type="text/javascript" src="js/application.js"></script> -->
  </body>
</html>

