
<title>Signos Vitales</title>

<body ng-controller="signosVitalesController">
	<div class="page-header" style="text-align: center">
		<h3><b>Ingreso de signos vitales</b></h3>
	</div>

	<form name="signos_vitales_form" class="form-horizontal" role="form"
		ng-submit="enviarSignosVitales()">

		<div class="form-group">
			<div class="controls form-inline">
				<label class="col-sm-4 control-label" for="sistole">S&iacute;stole</label>
				<div class="col-sm-2">
					<select ng-model="$parent.sistole" id="sistole" 
						ng-options="o as o for o in sistoles" class="form-control" 
							ng-click="chequearPrioridadSignoVital('sistole','Sístole')">
						<option value="">-- Seleccionar --</option>
					</select>
				</div>

				<label class="col-sm-1 control-label">Di&aacute;stole</label>
				<div class="col-sm-2">
					<select ng-model="$parent.diastole" id="diastole" 
						ng-options="o as o for o in diastoles" class="form-control" 
							ng-click="chequearPrioridadSignoVital('diastole','Diástole')">
						<option value="">-- Seleccionar --</option>
					</select>
				</div>

			</div>
		</div>

		<div class="form-group">
<!-- 			ng-class="{'has-error': signos_vitales_form.pulso.$error.required}"> -->
			<label class="col-sm-4 control-label">Pulso</label>
			<div class="col-sm-5">
				<select ng-model="$parent.pulso" id="pulso" 
					ng-options="o as o for o in pulsos" class="form-control" 
					ng-click="chequearPrioridadSignoVital('pulso','Pulso')">
					<option value="">-- Seleccionar --</option>
				</select>
			</div>

		</div>

		<div class="form-group">
<!-- 			ng-class="{'has-error': signos_vitales_form.frecuencia.$error.required}"> -->
			<label class="col-sm-4 control-label">Frecuencia respiratoria</label>
			<div class="col-sm-5">
				<select ng-model="$parent.frecuenciaRespiratoria" id="frecuenciaRespiratoria" 
					ng-options="o as o for o in frecuenciasRespiratorias" class="form-control" 
					ng-click="chequearPrioridadSignoVital('frecuenciaRespiratoria','Frecuencia respiratoria')">
					<option value="">-- Seleccionar --</option>
				</select>
			</div>

		</div>

		<div class="form-group">
<!-- 			ng-class="{'has-error': signos_vitales_form.temperatura.$error.required}"> -->
			<label class="col-sm-4 control-label">Temperatura</label>
			<div class="col-sm-5">
				<select ng-model="$parent.temperatura" id="temperatura" 
					ng-options="o as o for o in temperaturas" class="form-control" 
					ng-click="chequearPrioridadSignoVital('temperatura','Temperatura')">
					<option value="">-- Seleccionar --</option>
				</select>
			</div>
			
		</div>

		<div class="form-group">
<!-- 			ng-class="{'has-error': signos_vitales_form.temperatura.$error.required}"> -->
			<label class="col-sm-4 control-label">Saturaci&oacute;n de O2</label>
			<div class="col-sm-5">
				<select ng-model="$parent.saturacionO2" id="saturacionO2" 
					ng-options="o as o for o in saturacionesO2" class="form-control" 
					ng-click="chequearPrioridadSignoVital('saturacionO2','Saturación de O2')">
					<option value="">-- Seleccionar --</option>
				</select>
			</div>
			
		</div>

		<div class="form-group">
<!-- 			ng-class="{'has-error': signos_vitales_form.temperatura.$error.required}"> -->
			<label class="col-sm-4 control-label">Glucemia</label>
			<div class="col-sm-5">
				<select ng-model="$parent.glucosa" id="glucosa" 
					ng-options="o as o for o in glucosas" class="form-control" 
					ng-click="chequearPrioridadSignoVital('glucosa','Glucosa')">
					<option value="">-- Seleccionar --</option>
				</select>
			</div>
			
		</div>


		<div class="form-group">

			<div class="col-sm-offset-4 col-sm-10">

				<p style="text-align: center">
					<input type="submit" class="btn btn-success" value="Aceptar" />
					<!-- 					<button type="submit" class="btn btn-default">Aceptar</button> -->
				</p>
			</div>
		</div>


	</form>

</body>