
<title>Signos Vitales</title>

<body ng-controller="signosVitalesController">
	<div class="page-header" style="text-align: center">
		<h3><b>Ingreso de signos vitales</b></h3>
	</div>

	<form name="signos_vitales_form" class="form-horizontal" role="form"
		ng-submit="cargarSignosVitales()" novalidate>


		<div class="form-group">
			<label class="col-sm-4 control-label">Presión Arterial</label>
			<div class="col-sm-5">
				<select ng-model="$parent.presion" id="presion" name="presion"
					ng-options="o as o for o in presiones" class="form-control" required 
						ng-click="esPrioridadUno()">
					<option value="">-- Seleccionar --</option>
				</select>
			</div>
			<span class="error"
				ng-show="signos_vitales_form.presion.$error.required"> *</span><br>
		</div>


		<div class="form-group">
<!-- 			ng-class="{'has-error': signos_vitales_form.pulso.$error.required}"> -->
			<label class="col-sm-4 control-label">Pulso</label>
			<div class="col-sm-5">
				<select ng-model="$parent.pulso" id="pulso" name="pulso"
					ng-options="o as o for o in pulsos" class="form-control" required
					ng-click="esPrioridadUno()">
					<option value="">-- Seleccionar --</option>
				</select>
			</div>
			<span class="error"
				ng-show="signos_vitales_form.pulso.$error.required"> *</span><br>
		</div>


		<div class="form-group">
<!-- 			ng-class="{'has-error': signos_vitales_form.frecuencia.$error.required}"> -->
			<label class="col-sm-4 control-label">Frecuencia Respiratoria</label>
			<div class="col-sm-5">
				<select ng-model="$parent.frecuencia" id="frecuencia" name="frecuencia"
					ng-options="o as o for o in frecuencias" class="form-control" required
					ng-click="esPrioridadUno()">
					<option value="">-- Seleccionar --</option>
				</select>
			</div>
			
			<span class="error"
				ng-show="signos_vitales_form.frecuencia.$error.required"> *</span><br>
		</div>


		<div class="form-group">
<!-- 			ng-class="{'has-error': signos_vitales_form.temperatura.$error.required}"> -->
			<label class="col-sm-4 control-label">Temperatura</label>
			<div class="col-sm-5">
				<select ng-model="$parent.temperatura" id="temperatura" name="temperatura"
					ng-options="o as o for o in temperaturas" class="form-control" required
					ng-click="esPrioridadUno()">
					<option value="">-- Seleccionar --</option>
				</select>
			</div>
			<span class="error"
				ng-show="signos_vitales_form.temperatura.$error.required">*</span><br>
		</div>


		<div class="form-group">

			<div class="col-sm-offset-4 col-sm-10">

				<p style="text-align: center">
					<input type="submit" class="btn btn-success" value="Aceptar" />
					<!-- 					<button type="submit" class="btn btn-default">Aceptar</button> -->
				</p>
			</div>
		</div>


	</form>

</body>