
<title>Listado de s&iacute;ntomas</title>
<body>
  <div class="page-header" style="text-align: center">
    <h3><strong>Listado de s&iacute;ntomas</strong></h3>
  </div>

  <div class="row">
      <div class="col-md-2 col-md-offset-4">
        <input type="text" class="form-control" id="sintoma" ng-model="sintoma" ng-blur="filtrarListadoDeSintomas()" placeholder="S&iacute;ntoma"/>
      </div>
      <div class="col-md-2">
        <input type="text" class="form-control" id="tipoDeSintoma" ng-model="tipoDeSintoma" ng-blur="filtrarListadoDeSintomas()" placeholder="Discriminante"/>
      </div>
      <div class="col-md-1">
        <a id="nuevo" class="btn btn-success btn-sm active" role="button" ng-click="nuevoSintoma()"><i class="fa fa-plus-circle"/> Nuevo</a>
      </div>
 </div>

 <br>

   <sintomas-listado/>

</body>