
<title>Formulario de s&iacute;ntomas</title>

<body>
	<div class="page-header" style="text-align: center">
		<h3><b>Detalle de s&iacute;ntoma</b></h3>
	</div>

	<form class="form-horizontal" role="form" ng-submit="submitSintomaForm()" ng-controller="sintomasFormularioController">

		<div class="form-group">
			<label class="col-sm-4 control-label">Nombre</label>
			<div class="col-sm-5">
				<input id="nombre" type="text" ng-model="sintoma.nombre" class="form-control"/>				
			</div>
			<span class="error" ng-show="sintoma.nombre == undefined || sintoma.nombre == ''" style="color:red;">*</span>
		</div>

		<div class="form-group">
			<label class="col-sm-4 control-label">Discriminante</label>
			<div class="col-sm-5">
				<select ng-model="sintoma.tipoDeSintoma" id="discriminante"
					ng-options="tipoDeSintoma.nombre for tipoDeSintoma in tiposDeSintomas" class="form-control">
					<option value="">-- Seleccionar --</option>
				</select>				
			</div>
			<span class="error" ng-show="sintoma.tipoDeSintoma == undefined || sintoma.tipoDeSintoma == ''" style="color:red;">*</span>			
		</div>

		<div class="form-group">
			<label class="col-sm-4 control-label">Prioridad adulto</label>
			<div class="col-sm-5">
				<select ng-model="sintoma.prioridadAdulto" class="form-control" id="prioridadAdulto">
					<option value="">-- Seleccionar --</option>
				    <option id="prioridadAdultoUno" value="UNO">UNO</option>
  					<option value="DOS">DOS</option>
  					<option value="TRES">TRES</option>
				</select>				
			</div>
			<span class="error" ng-show="sintoma.prioridadAdulto == undefined || sintoma.prioridadAdulto == ''" style="color:red;">*</span>
		</div>

		<div class="form-group">
			<label class="col-sm-4 control-label">Prioridad pedi&aacute;trico</label>
			<div class="col-sm-5">
				<select ng-model="sintoma.prioridadPediatrico" class="form-control" id="prioridadPediatrico">
					<option value="">-- Seleccionar --</option>
				    <option value="UNO">UNO</option>
  					<option id="prioridadPediatricoDos" value="DOS">DOS</option>
  					<option value="TRES">TRES</option>
				</select>				
			</div>
			<span class="error" ng-show="sintoma.prioridadPediatrico == undefined || sintoma.prioridadPediatrico == ''" style="color:red;">*</span>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-4 col-sm-10">
				<p style="text-align: center">
					<input id="aceptar" type="submit" class="btn btn-success" value="Aceptar" ng-disabled="sintoma.nombre==null || sintoma.nombre =='' || sintoma.prioridadAdulto==null || sintoma.prioridadAdulto=='' || sintoma.prioridadPediatrico==null || sintoma.prioridadPediatrico =='' || sintoma.tipoDeSintoma==null || sintoma.tipoDeSintoma ==''"/>
				</p>
			</div>
		</div>

	</form>

</body>