<title>Listado de discriminantes</title>
<body>
  <div class="page-header" style="text-align: center">
    <h3><strong>Listado de discriminantes</strong></h3>
  </div>

  <div class="row">
      <div class="col-md-2 col-md-offset-4">
        <input type="text" class="form-control" ng-model="tipoDeSintoma" placeholder="Discriminante"/>
      </div>
      <div class="col-md-1">
        <input type="button" id="buscar" value="Buscar" class="btn btn-primary btn-sm" ng-click="filtrarListadoDeTiposDeSintoma()"/>
      </div>
      <div class="col-md-1">
        <a id="nuevo" class="btn btn-success btn-sm active" role="button" ng-click="nuevoTipoDeSintoma()"><i class="fa fa-plus-circle"/> Nuevo</a>
      </div>
 </div>

 <br>

   <div class="gridStyle" ng-grid="gridOptions" style="height: 400px;"> </div>

</body>
