<title>Listado de discriminantes</title>
<body>
  <div class="page-header" style="text-align: center">
    <h3><b>Listado de discriminantes</b></h3>
  </div>

  <div id="alert" class="alert alert-success alertStyle" role="alert">Discriminante eliminado con &eacute;xito</div>

  <div class="row">
      <div class="col-md-2 col-md-offset-4">
        <input type="text" class="form-control" ng-model="tipoDeSintoma" ng-blur="filtrarListadoDeTiposDeSintoma()" placeholder="Discriminante"/>
      </div>
      <div class="col-md-1">
        <a class="btn btn-success btn-sm active" role="button" ng-click="nuevoTipoDeSintoma()"><i class="fa fa-plus-circle"/> Nuevo</a>
      </div>
 </div>

 <br>

   <div class="gridStyle" ng-grid="gridOptions" style="height: 400px;"> </div>

</body>
